<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_front_office') }}">
        <i class="bi bi-speedometer2 menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_teletravail_index') }}">
        <i class="bi bi-laptop menu-icon"></i>
        <span class="menu-title">Télétravail</span>
      </a>
    </li>
  <li class="nav-item">
      <a class="nav-link" href="{{ path('formationEmp') }}">
        <i class="fas fa-chalkboard-teacher menu-icon"></i>
        <span class="menu-title">Formation</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{{ path('list_s') }}">
        <i class="bi bi-briefcase menu-icon"></i>
        <span class="menu-title">Service</span>
      </a>
    </li>

</nav>
