<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
<li class="nav-item">
<a class="nav-link" href="{{ path('list_candidatures') }}">
    <i class="fas fa-question-circle"></i> Mes Candidatures
</a>
 </li>
 <li class="nav-item">
<a class="nav-link" href="{{ path('list_offrescandidat') }}">
    <i class="fas fa-question-circle"></i>  Offres d'emplois 
</a>
 </li>
<li class="nav-item">

 </li>
  </ul>
  </ul>
</nav>