                                                            <button type="submit" class="btn btn-sm {{ user.isActive ? 'btn-danger' : 'btn-success' }}" style="{{ user.isActive ? 'background-color: #f1c40f; color: #000;' : '' }}">
                                                                <i class="icon-{{ user.isActive ? 'ban' : 'check' }}"></i>
                                                                {{ user.isActive ? 'Désactiver' : 'Activer' }}
                                                            </button> 