<form method="post" action="{{ path('app_reservation_salle_delete', {'IdReservation': reservation_salle.IdReservation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_salle.IdReservation) }}">
    <button class="btn">Delete</button>
</form>
